<%= simple_form_for(@reader) do |f| %>
  <div class="input-inline"> 
    <%= f.input :email %>
    <%= f.input :name %>
  </div> 
  <%= f.input :message %>
  <%= f.button :submit, "Send message", class: "button-kano" %>
<% end %>